<h1>Перечень МКД обслуживаемого жилищного фонда ООО «Наш
  дом» <%= link_to '+', new_house_path if can?(:create, House) %></h1>
<div class="static-content">
  <%= render "layouts/houses_on_map" %>
  <%= content_tag :h2, "Дома списком" %>

  <table>
    <thead>
    <tr>
      <th>№п/п</th>
      <th>Адрес дома</th>
      <th>Информация</th>
    </tr>
    </thead>

    <tbody>
    <% @houses.each_with_index do |house, i| %>
        <tr>
          <td width="5%" class="house-number"><%= i+1 %></td>
          <td width="60%" class="house-address"><%= house.address %></td>
          <!--<td width="30%"><%#= house.chairman %></td>-->
          <td width="35%" class="house-info"><%= house.info %>
            <% if can?(:manage, House) %>
                <br/>
                <%= link_to 'Изменить', edit_house_path(house) %>
                / <%= link_to 'Удалить', house, method: :delete, data: {confirm: 'Вы уверены?'} %>
                <%#= house.latitude.nil? %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <ul>
    <li>В 2013 году договоры управления с обслуживаемыми многоквартирными домами не расторгались.</li>
    <li>В 2012 году договоры управления с обслуживаемыми многоквартирными домами не расторгались.</li>
  </ul>
</div>