<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @request.author %>
</p>

<p>
  <strong>Email:</strong>
  <%= @request.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @request.address %>
</p>

<p>
  <strong>Rtype:</strong>
  <%= @request.rtype %>
</p>

<p>
  <strong>Body:</strong>
  <%= @request.body %>
</p>

<p>
  <strong>Rstatus:</strong>
  <%= @request.rstatus %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
